<div class='card'>

  <img class='card_img' src='{{photo}}' />
  {{#if isNew}}
    <badge class='card_badge'>New</badge>
  {{/if}}

  <div class='card_header'>{{name}}</div>
  <div class='card_body'>{{description}}</div>
  <a href='#' class='card_btn'><span>Read all</span></a>

</div>