<div class="del_content">

    <p class="dil_info double_line">
        “The thing that keeps us connected the most is Slack. It’s a very immediate and straightforward method of communication, and really the only channel that people prefer and enjoy using.”
    </p>

    
    <img src="/img/brands/deliveroo.png" alt="deliveroo" class="brands_image">

    <span class="hero_label">
        Will Sprunt, CIO, Deliveroo
    <span>

    

</div>